* {
    text-align: center;
    font-family: Georgia;
}
header, footer {
    background-color: Tomato;
    color: MistyRose;
    padding: 10px;
}
nav {
    width: 20%;
    display: flex;
    flex-direction: column;
}
#pierwszy, #drugi, #trzeci {
    background-color: #FFAEA5;
    height: 170px;
    font-size: 200%;
}
#pierwszy {
    background-color: MistyRose;
}
#main {
    display: flex;
    margin: auto;
}
main {
    background-color: MistyRose;
    width: 80%;
    height: 510px;
    overflow: auto;
}
#two, #three {
    display: none;
}
table {
    margin: auto;
    width: 60%;
    border: 1px dashed Indigo;
}
select, button {
    margin: 20px;
}
dt {
    font-weight: bold;
    font-style: italic;
}
dt:hover {
    font-size: 180%;
}